#root {
  width: 96%;
  margin: 72px auto 0; /* Corresponds to header height */
}

/* Menu Button Styles (Common Styles) */
.menu-toggle,
.menu-logout,
.menu-login {
  margin: 16px;
}

.menu-toggle {
  width: 48px;
}

/* Logout Button Specific Styles (Overrides Common Styles) */
.menu-logout {
  color: var(--main-color-warning);
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Menu Dropdown Styles */
.menu-dropdown {
  background-color: var(--main-color-dark);
  box-shadow: 0 10px 15px -3px var(--main-color-dark),
    0 4px 6px -2px var(--main-color-dark);
  position: absolute;
  top: 48px;
  right: 16px;
  z-index: 10;
  margin-top: 1rem;
  /* width: 160px; */
}

/* Menu Link Styles */
.menu-link a,
.menu-logout {
  display: block;
  font: inherit;
  font-size: 1.2rem;
  padding: 1rem 3rem 1rem 1rem;
}

.menu-link a {
  color: var(--main-color-light);
}

.menu-link:hover {
  background-color: var(--main-bg-color-secondary);
}

/* Menu Separator Style */
.menu-separator {
  border-top: 1px solid var(--main-color-light);
  margin: 0.25rem 0;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

form label:not(:last-child) {
  font-size: 1.2rem;
}

form input,
form textarea,
form select {
  font-size: 1.2rem;
  padding: 8px;
}

form button {
  margin-top: 32px;
}

form .cta {
  text-align: center;
  margin-top: 32px;
}

/* Profile */
.user-information {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user-summary {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--main-color-dark);
  padding: 12px;
}

.user-summary-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-summary figure,
.user-summary section {
  width: 100%;
}

.user-summary img {
  width: 160px;
  border-radius: 50%;
}

.user-enrollment div {
  display: flex;
  justify-content: space-between;
}

.user-links li {
  display: flex;
  justify-content: space-between;
}

.user-links button {
  width: 100%;
}

.user-details {
  flex: 3;
  border: 2px solid var(--main-color-dark);
  padding: 12px;
}

.user-details-info-title {
  font-weight: bold;
}

.tabs {
  display: flex;
  margin-top: -28px;
  margin-left: -12px;
  margin-right: -12px;
}

.tab {
  flex: 1;
}

.tab button {
  width: 100%;
  border: none;
  background-color: var(--main-text-color-disabled);
  border-bottom: 3px solid transparent; /* Add transparent border for transition */
  transition: border-color 0.5s ease; /* Smooth transition for the border */
}

.tab.active button {
  background-color: var(--main-bg-color-primary);
  border-bottom: 3px solid var(--main-color-warning);
}

/* Dashboard */
.admin-dashboard,
.advisor-dashboard,
.learner-dashboard,
.meetings-list-dashboard {
  border: 2px solid var(--main-color-dark);
  padding: 12px;
}

.learner-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

/* Shared */
.divider {
  border-bottom: 1px solid var(--main-bg-color-primary);
  margin: 1rem 0;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.filter-options div {
  display: flex;
  gap: 6px;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.data-list ul {
  display: flex;
}

.data-list ul:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.data-list ul li {
  flex: 3;
}

.data-list ul li:first-child {
  flex: 5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

@media screen and (min-width: 576px) {
  form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #root {
    width: 84%;
  }

  form {
    width: 70%;
  }

  .learner-dashboard {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  form {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  #root {
    width: 72%;
  }

  form {
    width: 50%;
  }
}

@media screen and (min-width: 1536px) {
  #root {
    width: 60%;
    max-width: 2400px;
  }
}
