#root {
  width: 96%;
  margin: 72px auto 0; /* Corresponds to header height */
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  #root {
    width: 84%;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
  #root {
    width: 72%;
  }
}
@media screen and (min-width: 1536px) {
  #root {
    width: 60%;
    max-width: 2400px;
  }
}

/* Header and Navigation Styles */
header {
  width: 100vw;
  height: 72px; /* Corresponds to root margin */
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
}

/* Button Styles (Common Styles) */
.menu-toggle,
.menu-logout,
.login {
  background-color: var(--black);
  color: var(--ghost-white);
  border: none;
  font: inherit;
  padding: 8px 16px;
  cursor: pointer;
  margin: 16px;
}

nav button:hover {
  background-color: var(--paynes-gray);
}

/* Logout Button Specific Styles (Overrides Common Styles) */
.menu-logout {
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Menu Dropdown Styles */
.menu-dropdown {
  position: absolute;
  top: 48px;
  right: 16px;
  z-index: 10;
  background-color: var(--black);
  box-shadow: 0 10px 15px -3px var(--black), 0 4px 6px -2px var(--black);
  margin-top: 1rem;
}

/* Menu Link Styles */
.menu-link a,
.menu-logout {
  display: block;
  color: #fbfbff;
  padding: 1rem 3rem 1rem 1rem;
}

.menu-link:hover {
  background-color: #596475;
}

/* Menu Separator Style */
.menu-separator {
  border-top: 1px solid #ccc;
  margin: 0.25rem 0;
}
