#root {
  width: 96%;
  margin: 72px auto 0; /* Corresponds to header height */
}

/* Menu Button Styles (Common Styles) */
.menu-toggle,
.menu-logout,
.menu-login {
  margin: 16px;
}

/* Logout Button Specific Styles (Overrides Common Styles) */
.menu-logout {
  color: var(--main-color-warning);
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Menu Dropdown Styles */
.menu-dropdown {
  background-color: var(--main-color-dark);
  box-shadow: 0 10px 15px -3px var(--main-color-dark),
    0 4px 6px -2px var(--main-color-dark);
  position: absolute;
  top: 48px;
  right: 16px;
  z-index: 10;
  margin-top: 1rem;
  /* width: 160px; */
}

/* Menu Link Styles */
.menu-link a,
.menu-logout {
  display: block;
  font: inherit;
  font-size: 1.2rem;
  padding: 1rem 3rem 1rem 1rem;
}

.menu-link a {
  color: var(--main-color-light);
}

.menu-link:hover {
  background-color: var(--main-bg-color-secondary);
}

/* Menu Separator Style */
.menu-separator {
  border-top: 1px solid var(--main-color-light);
  margin: 0.25rem 0;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

form label:not(:last-child) {
  font-size: 1.2rem;
}

form input,
form textarea,
form select {
  font-size: 1.2rem;
  padding: 8px;
}

form button {
  margin-top: 32px;
}

form .cta {
  text-align: center;
  margin-top: 32px;
}

@media screen and (min-width: 576px) {
  form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #root {
    width: 84%;
  }

  form {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  form {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  #root {
    width: 72%;
  }

  form {
    width: 50%;
  }
}

@media screen and (min-width: 1536px) {
  #root {
    width: 60%;
    max-width: 2400px;
  }
}
