:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color-dark: #040404;
  --main-color-light: #fbfbfb;

  --main-color-success: #b4dc7f;
  --main-color-error: #b80c09;
  --main-color-info: #01baef;
  --main-color-warning: #fe5e41;

  --main-bg-color-primary: #210b2c;
  --main-bg-color-secondary: #484848;

  --main-bg-color-disabled: #e8e8e8;
  --main-text-color-disabled: #96939b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color-light);
}

/* Header and Navigation Styles */
header {
  background-color: var(--main-color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px; /* Corresponds to root margin */
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: 16px 0;
}

button:hover {
  background-color: var(--main-bg-color-secondary);
}

button:disabled {
  background-color: var(--main-bg-color-disabled);
  color: var(--main-text-color-disabled);
}

.error {
  color: var(--main-color-error);
}
